@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

[data-theme='dark'] {
  --background: #1a1a1a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.bg-secondary {
  background-color: #f5f5f5;
}

[data-theme='dark'] .bg-secondary {
  background-color: #171717;
}

.bg-text {
  color: #d4d4d4
}

[data-theme='dark'] .bg-text {
  color: #404040;
}

.h1 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #000000;
}

.h2 {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.h3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000
}

.h4 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #525252;
}

.h5 {
  font-size: 1rem;
  font-weight: 300;
  color: #525252;
}

.p {
  font-size: 1rem;
  font-weight: 400;
  color: #525252;  
}

.large-body-text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: #525252;
}

[data-theme='dark'] .h1,
[data-theme='dark'] .h2,
[data-theme='dark'] .h3 {
  color: #ffffff;
}

[data-theme='dark'] .h4,
[data-theme='dark'] .h5,
[data-theme='dark'] .p,
[data-theme='dark'] .large-body-text {
  color: #a3a3a3;
}

.heading-hover:hover {
  color: #525252;
}

[data-theme='dark'] .heading-hover:hover {
  color: #d4d4d4;
}

.body-hover:hover {
  color: #737373;
}

[data-theme='dark'] .body-hover:hover {
  color: #d4d4d4;
}

.button {
  border-color: #262626;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

[data-theme='dark'] .button {
  border-color: #ffffff;
  border-width: 1px;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.button:hover {
  background-color: #262626;
  color: #ffffff;
}

[data-theme='dark'] .button:hover {
  background-color: #ffffff;
  color: #000000;
}

.text-bubble {
  background-color: #d4d4d4;
  color: #000000;
  font-weight: 300;
}

[data-theme='dark'] .text-bubble {
  background-color: #262626;
  color: #ffffff;
}

.divider {
  border-top-width: 2px;
  border-color: #d4d4d4;
}

[data-theme='dark'] .divider {
  border-color: #404040;
}
